body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

h1 {
    font-size: 50px;
}

h3 {
    color: rgb(20, 177, 255);
}

section {
    display: flex;
    margin-bottom: 100px;
}

.adjust {
    width: 50%;
    padding-left: 20px;
}

.adjust img {
    width: 70%;
    margin-top: 10px;
    padding: 20px;
}

.deve-color {
    color: red;
}

section {
    display: flex;
}

.hire-link {
    color: white;
    padding: 10px 40px;
    background-image: linear-gradient(red, orange);
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 20px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.second-page {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}