body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    color: rgb(20, 177, 255);
}

.half-width {
    width: 50%;
    padding-left: 20px;
}

.half-width img {
    width: 70%;
    margin-top: 10px;
    padding: 20px;
}

.deve-color {
    color: red;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.hire-link {
    color: white;
    padding: 10px 40px;
    background-image: linear-gradient(red, orange);
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 20px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.second-page {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
}

#full-stack-developir {
    margin-left: 7px solid tomato;
}

#baby-web-developer {
    margin-left: 7px solid blue;
}

footer {
    text-align: center;
}